*{
    margin: 0;
    padding: 0;
  }
  body{
    background-size: 100%;
  }
  /*导航栏*/
  .a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.592)
  }
  
  #b {
    float: left;
  }
  
  #b a, .zixunzx {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: auto;
  }
  
  #b a:hover, .zixun:hover .zixunzx {
    background-color: rgb(142, 139, 72);
  }
  
  #b.zixun {
    display: inline-block;
  }
  
  .zixun-content {
    display: none;
    position: absolute;
    background-color:  rgba(0,0,0,0.2);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .zixun-content a {
    color: white;
    padding: 10px 16px;      
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .zixun-content a:hover {background-color: rgba(0, 0, 0, 0.2);}
  
  .zixun:hover .zixun-content {
    display: block;
  }
  /*  */
  .gl{
    list-style-type: none;
  }
  .game{
    width: 80%;
    height: 800px;
    padding: 10px;
    margin: 50px;
  }
  .cont{
    clear: both;
    width: 78%;
    height: 600px;
    margin: auto;
  }
  h5{

    width: 78%;
    margin-left: 10%;
    margin-top: 10px;
    background-color: #2e2b29;
    color: white;
    padding: 10px;
  }
  /* */
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 5px;
    text-align: center;
  }
  
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 32%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;

    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /*底部*/
  .copyright
  {
    padding: 50px 0;
    background: #2e2b29;
    font-size: 12px;
    color: #d1d1d1;
    position: relative;
    line-height: 22px;
    }
  .copyright .copy-main
  {
    margin:0 auto;
    overflow:hidden;
    }
  .copyright a
  {
    color: #bf9d5e;
    }
  .copyright img
  { 
    margin-right:7px;
    vertical-align:middle;
    }
  .copyright .lines
  { 
    width:1px;
    height:46px;
    border-left:1px solid #d1d1d1;
    margin-right:10px;
    vertical-align:middle;
    display:inline-block;
    margin-left: 8px;
   }
  .copyright::after
  {
    display: block;
    content: ''; width: 0;
    height: 0;
    background: url(../img/hero_fade.png) no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    }
  .copyright-left
  {
    width:500px;
    padding-top:37px;
    float:left;
    }
  .copyright-mid
  {
    width: 330px;
    float: left;
    }
  .copyright-right
  {
    width: 440px;
    float: right;
    }